<a href="https://colab.research.google.com/github/mrri-18/swu_2/blob/main/CSV_pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv,os
os.getcwd()
f=open('a.csv', 'r', encoding='cp949')  #한글 인코딩

In [ ]:
new=csv.reader(f)
for i in new:
  print(i)

['국어', '영어', '수학']
['85', '90', '100']

In [ ]:
a_list=[] #임의의 리스트 생성
f.seek(0)
for i in new:
  print(i)
  a_list.append(i) #행단위로 저장

a_list

['국어', '영어', '수학']
['85', '90', '100']

[['국어', '영어', '수학'], ['85', '90', '100']]

In [ ]:
def opencsv(filename): #파일 읽어주는 함수
  f=open(filename,'r', encoding='cp949' )
  reader=csv.reader(f)
  output=[]
  for i in reader:
    output.append(i)
  return output

In [ ]:
opencsv('example2.csv')

[['이름 ', '영어', '수학 ', '국어'],
 ['흐림 ', '80', '90', '71'],
 ['맑음', '84', '73', '81'],
 ['비', '100', '79', '90']]

In [2]:
import csv, os, re
def writecsv(filename, the_list):
  with open(filename,'w',newline='')as f: 
    a=csv.writer(f, delimiter=',') #','로 데이터 구분
    a.writerows(the_list)#csv형 리스트 저장

a=[['국어','영어','수학'],[84,82,92]]
writecsv('test.csv',a)

In [4]:
import sys 
sys.path.append('/content')
print(sys.path)

['/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython', '/content']

In [11]:
import usecsv, re
total=usecsv.opencsv('popSeoul.csv')

for i in total:
  for j in i:
    try:
      i[i.index(j)]=float(re.sub(',', '', j)) #행에서 숫자만 float형으로 변환, 쉼표 제거
    except:
      pass
total

[['Gu', 'Korean', 'Foreigner', 'Senior'],
 ['Total', 9740398.0, 285529.0, 1468146.0],
 ['Jongrogu', 151767.0, 11093.0, 27394.0],
 ['Jongru', 126409.0, 10254.0, 23025.0],
 ['Yongsangu', 228830.0, 16159.0, 38531.0],
 ['Seongdonggu', 303158.0, 8132.0, 43662.0],
 ['Kwangjingu', 352692.0, 15645.0, 47347.0],
 ['Dongdaemoongu', 346551.0, 17228.0, 58764.0],
 ['Jungranggu', 398812.0, 4964.0, 64449.0],
 ['Seongbukgu', 441590.0, 12524.0, 70204.0],
 ['Gangbukgu', 314090.0, 3785.0, 59808.0],
 ['Dobonggu', 335280.0, 2314.0, 58070.0],
 ['Nowonggu', 535282.0, 4547.0, 79968.0],
 ['Eunpyonggu', 481663.0, 4496.0, 79957.0],
 ['Seodaemungu', 310069.0, 14020.0, 51708.0],
 ['Mapogu', 373629.0, 11976.0, 51961.0],
 ['Yangcheongu', 459849.0, 4082.0, 60487.0],
 ['Gangseogu', 593708.0, 6532.0, 82937.0],
 ['Gurogu', 406748.0, 33102.0, 64952.0],
 ['Guemcheongu', 233371.0, 19497.0, 37191.0],
 ['Youngdeungpogu', 368402.0, 34076.0, 57350.0],
 ['Dongjakgu', 397618.0, 12869.0, 61607.0],
 ['Kwanakgu', 502117.0, 17836.0, 74518.0],
 ['Seoucheogu', 431027.0, 4231.0, 56455.0],
 ['Gangnamgu', 544028.0, 5015.0, 70029.0],
 ['Songpagu', 677489.0, 6849.0, 86062.0],
 ['Gangdonggu', 426219.0, 4303.0, 61710.0]]