<a href="https://colab.research.google.com/github/mrri-18/swu_2/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

data={'Name': ["John", "Anna","Peter","Linada"],
      'Location':["Seoul", "New York", "Paris", "London"],
      'Age':[32,12,29,47]
      }
      
data_pandas=pd.DataFrame(data)
display(data_pandas)

     Name  Location  Age
0    John     Seoul   32
1    Anna  New York   12
2   Peter     Paris   29
3  Linada    London   47

In [5]:
display(data_pandas[data_pandas.Age>30])

     Name Location  Age
0    John    Seoul   32
3  Linada   London   47